<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Administrador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Administrador.Properties.Settings.productsConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=nx_data;Persist Security Info=True;User ID=nxu_data;Password=the_nxu_data"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <Administrador.Properties.Settings>
            <setting name="emailFrom" serializeAs="String">
                <value>MES.Applications@allegion.com</value>
            </setting>
            <setting name="emailTo" serializeAs="String">
                <value>m-gonzalez@r-c-automation.com</value>
            </setting>
        </Administrador.Properties.Settings>
    </applicationSettings>
</configuration>
